.vertical {
  border-left: 1px solid white;
  margin-top: 10px;
  height: 22px;}

  a:hover{
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
.logo{
  height: 50px;

width: 50px;
}
.body{
  height: 100%;
  width: 100%;
}

.center{
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

.text{
  position: absolute;
  top: 10%;
  left: 0%;
}
.comingsoon{
  text-transform: uppercase;
  font-style: italic;
}
.buttonimage{
  width: 300px;
  height: 40px;
  border-radius: 20px;
  text-transform: uppercase;
  display: block;
  background-color: rgb(30, 215, 96);
  color: rgb(41, 65, 171)

}
.buttonimage:hover{
  background-color: rgb(41, 65, 171);
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  font-style: italic;



}

.inside{
  position: absolute;
  bottom:90px;
  left: 0%;
}
.hover1{
  margin-right: 52px;

}
.hover1:hover{
  background-color: rgb(51, 51, 114);
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  font-style: italic;
}
.hover:hover{
background-color: rgb(51, 51, 114);
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  font-style: italic;
}

body{
  background-color: rgb(41, 65, 171)
}
.circle{
  background-color:rgb(30, 215, 96);
 width: 15rem;
 height: 15rem;
  border-radius: 50%;
  margin-top: 10%;
  margin-left: -12%;
  position: absolute;
}
.halfcircle{
  background-color:rgb(41, 65, 171);
 width: 15rem;
 height: 15rem;
   border-radius: 50%;
  margin-top: 28%;
  margin-left: -12%;
    
  position: absolute;
}
.quater{
    background-color:rgb(30, 215, 96);
 width: 30rem;
 height: 30rem;
   border-radius: 50%;
  margin-top: 58%;
  margin-left: -12%;
   border-bottom-right-radius: 40% ;

    
  position: absolute;
}
.circle2{
  background-color:rgb(30, 215, 96);
 width: 15rem;
 height: 30rem;
  border-radius: 50%;
  margin-top: 05%;
  margin-left: 82%;
  position: absolute;
}
.h1{
  font-size: 70px;
  font-weight:1000;

}
.text1{
  color: rgb(30, 215, 96);
  position: absolute;
  top: 55%;
  left: 30%;


}
.pmain{
font-size: 17px;
font-weight: bolder 100;


}
.p{
  color: rgb(30, 215, 96);
  position: absolute;
  top: 70%;
  left: 31%;
}




  @media screen and (max-width: 800px) {
    .vertical{
      visibility: hidden;
    }
    .hide{
      visibility: hidden;
    }
    .hidden{
      visibility: hidden;
    }
    .circle{
      visibility: hidden;

    }
    .circle2{
      visibility: hidden;
    }
    .halfcircle{
      visibility: hidden;
    }
    .h1{
      font-size: 40px;
    }
    .text1{
      top: 50%;
      left: 30%;
    }
    
  }